<!-- Modal -->
<div class="modal fade" id="regulatory_base_modal" tabindex="-1" role="dialog" aria-labelledby="regulatory_base_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RegulatoryBaseModalLabel">¿Dónde encuentro mi base reguladora?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><small>Localiza en tus nóminas de los últimos 6 meses la <strong>BASE DE COTIZACIÓN A LA SEG.SOCIAL</strong> (También puede aparecer como Bases S.S. o contingencias generales).</small></p>

                <img src="{{ "/assets/images/nomina.jpg" | relative_url }}" alt="Imagen de ejemplo">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
